.panel.panel-default
  .panel-body.search-result-body
    .media-left.media-middle
      %media
        = image_tag result.user.profile_image_url
        = result.user.name

      %h3
        = auto_link(result.text).html_safe

      %media
        - result.media.each do |media|
          = image_tag media.media_url
