
<div class="manifesto">
<blockquote class="gmail_quote" style="margin:0px 0px 0px 0.8ex;border-left-width:1px;border-left-color:rgb(204,204,204);border-left-style:solid;padding-left:1ex"><div dir="ltr"><div><b><br></b></div><b>About&nbsp;</b><div><b><br></b></div><div>











  <%= image_tag "makerhoodmap.png", class: "img-responsive" %>



  <p class="MsoNormal">Makerhood is an initiative designed and led
  by the South Auckland community, in New Zealand. The model sprouts from the existing
  initiatives in the neighbourhood, <a href="http://www.oca.nz/" target="_blank">Oceania Career Academy</a> and <a href="http://theroots.org.nz/" target="_blank">The Roots</a>. It interweaves
  them and leverages their reach and scope. Makerhood is the fertile ground where the
  next generation of world leader’s can blossom.</p><p class="MsoNormal"><br></p><p class="MsoNormal"></p>

  <p class="MsoNormal"><span lang="EN-GB">&nbsp;</span></p>

  <p class="MsoNormal"><span lang="EN-GB">The makerhood is a fusion of mindsets and
  gifts, it combines the skill and hands on approach from the world of trade with
  the creativity and innovation of the world of design. It is a mixture of
  thinking and doing, design and trade, low tech and high tech.&nbsp;</span>We believe in doing.</p>

  <p class="MsoNormal"><span lang="EN-GB">&nbsp;</span></p>

  <p class="MsoNormal"><span lang="EN-GB">The long-term plan for Auckland as the
  South Pacific hub of innovation can strongly benefit South Auckland, but our
  hood does not believe in charity. We can though, offer you a good deal.</span></p>

  <p class="MsoNormal"><span lang="EN-GB">&nbsp;</span></p>

  <p class="MsoNormal"><span lang="EN-GB">We live by the village mentality. Every
  choice and decision at the village is measured against the impact it will have
  in future generations. Our young people with this belief embedded in them are
  the leaders our world needs. We carry gems and are willing to share them.</span></p>

  </div><div><br></div><div><b>Manifesto</b></div><div><br>
    <div dir="ltr">







  <p><span><b>An initiative designed and led by the South Auckland community to develop a generation of creative, entrepreneurial, engaged and full of purpose people.</b></span></p><p><span>







  </span></p><p><span><b>Tapping into already existing projects, #makerhood creates a platform for young South Aucklanders to leapfrog from unemployment and underpaid jobs to the most valuable skills in the world we are living in.</b></span></p><p><span><b><br></b></span></p><p><span>







  </span></p><p><span><b>The secret: Fusion</b></span></p><p><span><b>Design + Trades</b></span></p><p><span><b>Thinking + Doing</b></span></p><p><span><b>Creativity + Practicality</b></span></p><p><span><b>Minds + Hands</b></span></p><p><span><b>Immediate + Futuristic</b></span></p><p><span>












  </span></p><p><span><b>Low tech + High tech</b></span></p></div>
  </div></div></div></blockquote>
</div>
