= simple_form_for(@story, html: { class: 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    -# = f.input :latlong
    -# = f.input :data

  .form-actions
    = f.button :submit
