//= depend_on_asset "layers.png"
//= depend_on_asset "layers-2x.png"

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require leaflet
 *= require jquery.minicolors
 *= require_tree .
 *= require_self
 */

a {
		color: #000;
		text-decoration: none;
		font-weight: inherit;
	}
	
	a:active,
	a:focus,
	a:hover {
		text-decoration: none;
		color: #000;
	}


#main_nav
{
  margin: 0;
}

#map-container
{
  min-height: 35em
}

.wookmark-row
{
  /*padding-top: 1.0em;*/
}
.wookmarkable
{
}

.panel
{
  border: 0;
  box-shadow: none;
  
  .panel-body
  {
    width: 100%;
    
    .media-middle,
    .media-left {
    
      padding: 0;
      margin: 0;
      margin: 6.25%;
      
     h3 {
     	font-size: 16px;
     	line-height: 1.4em;
     	font-weight: 700;
     }
     
     .hashtags {
     
     	clear:both;
     	margin-top: 1em;
     	
     
     .hashtag {
     	font-size: 16px;
     	line-height: 1.4em;
     	font-weight: 700;
     	background: #f0f;
     	display: inline-block;
     	border-radius: 4px;
     	padding: 1px 4px;
     	margin: 2px 2px 2px 0;
     	
     	a {
     		color: #000;
     		text-decoration: none;
     		font-weight: inherit;
     	}
     	a:active,
     	a:focus,
     	a:hover {
     		text-decoration: none;
     		color: #000;
     	}
     	
     	
     }
     
     .hashtag:hover {
     	background: #000;
     	display: inline-block;
     	
     	a {
     		color: #fff !important;
     		text-decoration: none;
     		font-weight: inherit;
     	}
     	a:active,
     	a:focus,
     	a:hover {
     		text-decoration: none;
     		color: #fff !important;
     	}
     	
     	
     }
     
     }
      
     media {
       
       clear: both;
       
       iframe {
         max-width: 100% !important;
       }
     
     }
   
    
    }

    
    
    
  }
}


  media {
    
    img {
      max-width: 100% !important;
    }
    
    iframe {
      max-width: 100% !important;
    }
  
  }




.tag
{
  padding: 0.3em;
  color: black;

  a
  {
    color: #7C8B78;
  }
}


.search-result-body
{
  text-overflow: ellipsis;
  max-height: 25em;
  overflow: hidden;
}

.person-icon
{
  color: #337ab7;
  font-size: 1.5em;
}
